#!/bin/bash

## exemple de Regles pour le CT 100
#iptables -t nat -A PREROUTING -i $wan_if -p tcp -m tcp --dport 22100 -j DNAT --to-destination 10.80.1.100:22


## exemple de Regles pour le CT 110
#iptables -t nat -A PREROUTING -i $wan_if -p tcp -m tcp --dport 22110 -j DNAT --to-destination 10.80.1.110:22

## exemple de Regles pour le CT 200
#iptables -t nat -A PREROUTING -i $wan_if -p tcp -m tcp --dport 22200 -j DNAT --to-destination 10.80.2.100:22